// Specific CSS for your home-page
.movie-details {
    display: flex;
    align-items: center;
    p {
      color: black;
    }
}

.doei{
  display: none;
  opacity: 0;
  transition-duration: 5s;
}

.doei-active {
  display: block;
  opacity: 1;
  transition-duration: 5s;
}


